@font-face {
 font-family: "Anonymous Pro";
 src        : local("Anonymous Pro"), url("fonts/anonymouspro.woff2") format("woff2"),
  url("fonts/anonymouspro.woff") format("woff"),
  url("fonts/anonymouspro.ttf") format("truetype");
 font-weight: 400;
 font-style : normal;
}
@font-face {
 font-family: "Anonymous Pro";
 src        : local("Anonymous Pro Italic"), local("AnonymousPro-Italic"),
  url("fonts/anonymousproitalic.woff2") format("woff2"),
  url("fonts/anonymousproitalic.woff") format("woff"),
  url("fonts/anonymousproitalic.ttf") format("truetype");
 font-weight: 400;
 font-style : italic;
}
@font-face {
 font-family: "Anonymous Pro";
 src        : local("Anonymous Pro Bold"), local("AnonymousPro-Bold"),
  url("fonts/anonymousprobold.woff2") format("woff2"),
  url("fonts/anonymousprobold.woff") format("woff"),
  url("fonts/anonymousprobold.ttf") format("truetype");
 font-weight: 700;
 font-style : normal;
}
@font-face {
 font-family: "Anonymous Pro";
 src        : local("Anonymous Pro Bold Italic"), local("AnonymousPro-BoldItalic"),
  url("fonts/anonymousprobolditalic.woff2") format("woff2"),
  url("fonts/anonymousprobolditalic.woff") format("woff"),
  url("fonts/anonymousprobolditalic.ttf") format("truetype");
 font-weight: 700;
 font-style : italic;
}
