@font-face {
 font-family: "Consola Mono";
 src: local("Consola Mono"), local("ConsolaMono"),
  url("fonts/consolamono.woff2") format("woff2"),
  url("fonts/consolamono.woff") format("woff"),
  url("fonts/consolamono.ttf") format("truetype");
 font-weight: 400;
 font-style: normal;
}
@font-face {
 font-family: "Consola Mono";
 src: local("Consola Mono Bold"), local("ConsolaMono-Bold"),
  url("fonts/consolamonobold.woff2") format("woff2"),
  url("fonts/consolamonobold.woff") format("woff"),
  url("fonts/consolamonobold.ttf") format("truetype");
 font-weight: 700;
 font-style: normal;
}
