@font-face {
 font-family: "OpenGost Type A TT";
 src        : local("OpenGost Type A TT Regular"), local("OpenGostTypeATT-Regular"),
  url("fonts/opengosttypeattregular.woff2") format("woff2"),
  url("fonts/opengosttypeattregular.woff") format("woff"),
  url("fonts/opengosttypeattregular.ttf") format("truetype");
 font-weight: 400;
 font-style : normal;
}

* {
 box-sizing: border-box;
}

html {
 font-size  : 10px;
 user-select: none;
}

html,
body {
 height: 100%;
 margin: 0;
}

body {
 position   : relative;
 background : #020102;
 color      : #13b40d;
 font-size  : 3rem;
 font-family: "Bender", serif;
}

.wrapper {
 padding    : 5rem;
 text-shadow: 0 0 10px #1adf12;
}

.m4 {
 margin-bottom: 2rem;
}

.active {
 color     : #020102;
 background: #13b40d;
}

.greeting {
 line-height: 4rem;
}

.attempt--wrapper {
 display    : flex;
 align-items: center;
}

.attempt:first-child {
 margin-left: 2.5rem;
}

.attempt {
 width      : 2rem;
 height     : 2rem;
 margin-left: 2rem;
 margin-top : 0.5rem;
 background : #13b40d;
}

.map {
 margin-top: 3rem;
 display   : flex;
}

.map__column {
 display     : flex;
 margin-right: 3rem;
 flex        : 2;
}

.map__terminal {
 display        : flex;
 flex           : 1;
 align-items    : flex-start;
 flex-direction : column;
 justify-content: flex-end;
}

.map__decor {
 margin-right: 3rem;
}

.map__filed {
 text-align: justify;
}

.map__char {
 letter-spacing: -3px;
}

.map__char:hover {
 color     : #020102;
 background: #13b40d;
 text-align: center;
}

.map__word {
 letter-spacing: 0px;
 cursor        : pointer;
}

.map__enter-wrapper {
 display   : flex;
 margin-top: 1.5rem;
}

.map__enter {
 margin-left: 0.3rem;
}

.map__hint {
 cursor: pointer;
}
